<!DOCTYPE html>
<head>
    <title>Company Database</title>
</head>
<body style="background-color:#a34cff;">
    <div class="com" > 
    <center>
        <h1>Edit Company details</h1>
        
    </hr>
    <form method="POST" action="/Updatecom/{{ dcompanyModel.company_id }}">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>Company ID</td>
            <td><input type="number" name="company_id" value="{{dcompanyModel.company_id}}"</td>
        </tr>
        <tr>
            <td>Company Type</td>
            <td><input type="text" name="company_type" value="{{dcompanyModel.company_type}}"</td>
        </tr>
        <tr>
            <td>street Address</td>
            <td><input type="text" name="street_add" value="{{dcompanyModel.street_add}}"</td>        </tr>
        <tr>
            <td>Highest Number of Worker</td>
            <td><input type="number" name="highest_no_worker" value="{{dcompanyModel.highest_no_worker}}"</td>        </tr>
        <tr>
            <td>Region ID</td>
            <td><input type="number" name="region_id" value="{{dcompanyModel.region_id}}"</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td><input type="text" name="company_name" value="{{dcompanyModel.company_name}}"</td>
        </tr>
        <tr>
            <td><input type="submit" value="Update Company Details"></td>
            <td>
                {% if messages %}
                {% for mess in messages %}
                <b style="color: green;">{{mess}}</b>
                {%  endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
    <button><a href="{% url 'showcom' %}" style="text-decoration: none;">Go to Company database</a></button>
</form>
    </center>
    </div>
</body>